@import "tailwindcss";

  * {
    box-sizing: border-box;
  }

  html {
    background: #222222;
  }

  body {
    margin: 0;
    font-family: var(--font-geist-sans), sans-serif;
  }

  a {
    text-decoration: none;
  }
  .img-card:hover #learnmore {
     display: block;
  }
